{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wallet</title>
    
        <link rel="stylesheet" href="{% static 'bookkeeper/styles.css' %}">
    </head>
    <body>
        

        <div class="page-header">
            {% if user.is_authenticated %}
                <p class="top-menu">Привет, {{ user.username }}!<small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
        </div>
                <button class="btn-control"><a class = "link-control" href="{% url 'expense_add' %}">+</a></button>
                <button class="btn-control"><a class = "link-control" href="{% url 'expense_add_formset' %}">+++</a></button>
                <button class="btn-control"><a class = "link-control" href="{% url 'category_add' %}">New Cat</a></button>
                <button class="btn-control"><a class = "link-control" href="{% url 'expense_test_add' %}">+Test+</a></button>
                {% load i18n %}
                {% load l10n %}
                {% language 'en' %}
                {% now "Y/m" as current_month %}
                <button class="btn-control"><a class = "link-control" href="/{{ current_month|unlocalize }}">Месяц</a></button>
                <button class="btn-control"><a class = "link-control" href="{% url 'expense_list' %}">Все расходы</a></button>
                <button class="btn-control"><a class = "link-control" href="{% url 'category_list' %}">Все категории</a></button>
                <button class="btn-control"><a class = "link-control" href="{% url 'expense_delete_all'%}">Удалить все</a></button>
                {% now "Y/m/d" as today %}
                <button class="btn-control"><a class = "link-control" href='/{{ today|unlocalize }}'>Расходы сегодня</a></button>
                <br><br>
                <form action="{% url 'search_results' %}" method="GET">
                    <input name="q" type="text" placeholder="Search...">
                    <button type="submit">Поиск</button>
                </form>
                
                {% endlanguage %}
                {% if messages %}
                    <ul class="message-list">
                        {% for message in messages%}
                        <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}

                    </ul>
                {% endif %}

                {% block content %}
                {% endblock %}
    </body>
</html>