{% extends 'bookkeeper/base.html' %}
{% block content %}

{% if expense_list.count > 0  %}

<h3 class="ml-3">Expenses on {{ day }}:</h3>

{% for expense in expense_list %}

<ul class="list-group">
    <li class="list-group-item">
        {{ expense.name }} {{ expense.amount }} RUB: {{expense.category}} {% if expense.planned %} : PLANNED {% endif %}
        <a href="{% url 'expense_delete' pk=expense.pk %}" class="btn btn-light float-right"><i class="fas fa-trash"></i></a>
        <a href="{% url 'expense_copy' pk=expense.pk %}" class="btn btn-light float-right"><i class="far fa-copy"></i></a>
        <a href="{% url 'expense_update' pk=expense.pk %}" class="btn btn-light float-right"><i class="fas fa-pen"></i></a>
        <br><small>Paid on {{ expense.payment_date|date:"F j, Y" }}, added by {{ expense.author}} on {{expense.created_date}}</small>
    </li>
</ul>

{% endfor %}

{% else %}
    <p>No expenses today</p>
{% endif %}

<nav class="pagination" aria-label="Page navigation example">
    <ul class="pagination">
        {% if previous_day %}
            <li class="page-item">
                <a class = "page-link" href="/{{ previous_day|date:'Y'  }}/{{ previous_day|date:'m' }}/{{ previous_day|date:'j' }}" aria-label="Previous">
                     <span aria-hidden="true">&laquo;{{ previous_day|date:"j F Y" }}</span>
                </a>
            </li>
        {% endif %}
        <li class="page-item active">
            <a href="#" class="page-link">{{ day }}</a>
        </li>
        {% if next_day %}
            <li class="page-item">
                <a class="page-link" href="/{{ next_day|date:'Y'  }}/{{ next_day|date:'m' }}/{{ next_day|date:'j' }}" aria-label="Next">
                     <span aria-hidden="true">{{ next_day|date:"j F Y" }}&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>

{% endblock %}