{% extends 'bookkeeper/base.html' %}
{% block content %}

<h1>Incomes:</h1>

{% for income in income_list %}
<div class="income">
    <div class="income-name">
        {{ income.name }} 
        <br><small>{{ income.income_date|date:"F j, Y" }}  {{ income.amount }} added by {{ income.author}} on {{income.created_date}}</small>
    </div>
    
    <div class="task-btn">
        <a class="link-control" href="{% url 'income_update' pk=income.pk %}">edit</a>
        <a class="link-control" href="{% url 'income_copy' pk=income.pk %}">Copy</a>
        <a class="link-control" href="{% url 'income_delete' pk=income.pk %}">[X]</a>
    </div>
</div>
{% endfor %}

{% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}


{% endblock %}