{% extends 'bookkeeper/base.html' %}
{% block content %}

{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
<h2>Add Expense:</h2>
<form action = "" method="POST" class="">{% csrf_token %}

    <div>
        <label for="name"></label>    
        {{form.name}}
    </div>
    <div>
        <label for="amount"></label>    
        {{form.amount}}
    </div>
    <div style="max-width: 300px">
        <label for="payment_date"></label>
        {{form.payment_date}}    
    </div>
    <div>
        <label for="category"></label>    
        {{form.category}}
    </div>
    <div>
        <label for="category"></label>    
        {{form.new_cat}}
    </div>
    <div>
        <label for="comments"></label>    
        {{form.comments}}
    </div>  
    <div>
        <label for="planned_monthly">Planned monthly</label>    
        {{form.planned_monthly}}
    </div>  
  
    <button type="submit">Submit</button>
</form>
<br>


<h3>Latest Expenses:</h3>

{% for expense in expenses %}
<div class="expense">
    <div class="expense-name">
        {{ expense.name }} : {{expense.category}} : {% if expense.planned %} PLANNED {% endif %}
        <br><small>Paid on {{ expense.payment_date|date:"F j, Y" }}  {{ expense.amount }} added by {{ expense.author}} on {{expense.created_date}}</small>
    </div>
    
</div>
{% endfor %}

<h3>Latest Incomes:</h3>

{% for income in incomes %}
<div class="income">
    <div class="income-name">
        {{ income.name }} 
        <br><small>Received on {{ income.income_date|date:"F j, Y" }}  {{ income.amount }} added by {{ income.author}} on {{income.created_date}}</small>
    </div>
    
</div>
{% endfor %}

{% endblock %}