{% extends 'bookkeeper/base.html' %}
{% block content %}

<h3>Expenses by category for {{month_j}} {{year}} :</h3>

{% for key, value in totals.items %}
<ul class="list-group">
    <li class="list-group-item">
        <a class ="nav-link" href="/{{ year}}/{{ month }}/{{ key }}">{{key}}:</a>
        <div>Total: {{value}} RUB</div>
    </li>
</div>
{% endfor %}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if previous_month %}
      <li class="page-item">
        <a class="page-link" href="/{{ previous_month|date:'Y'  }}/{{ previous_month|date:'m' }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;{{ previous_month|date:"F Y" }}</span>
        </a>
      </li>
      {% endif %}
      {% if next_month %}
      <li class="page-item">
        <a class="page-link" href="/{{ next_month|date:'Y'  }}/{{ next_month|date:'m' }}" aria-label="Next">
          <span aria-hidden="true">{{ next_month|date:"F Y" }}&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
</nav>

{% endblock %}


